body {
    background: linear-gradient(to right, #f0f2f5, #e0e7ec);
    color: #1b1b32;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

/* center the main content */
#main {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
}

/* title Styling */
#title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* image section */
#img-div {
    text-align: center;
    margin-bottom: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#image:hover {
    transform: scale(1.05);
}

#img-caption p {
    font-style: italic;
    font-size: 1rem;
    color: #555;
    margin-top: 8px;
}

/* timeline Section */
#tribute-info {
    margin-bottom: 30px;
}

#tribute-info h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 16px 0;
    padding-left: 16px;
    position: relative;
}

li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #888;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer h3 {
    font-size: 1.2rem;
    color: #1b1b32;
}

#tribute-link {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
}

#tribute-link:hover {
    color: #004c99;
}
